.violet {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    .violet-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    h1 {
        color: #48105b;
        font-size: 40px;
        display: block;
        line-height: 49px;
        text-align: center;
    }
    h2 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: right;
        line-height: 21px;
    }
    h3 {
        color: #48105b;
        font-size: 32px;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: 39px;
        text-align: center;
    }
    div {
        font-weight: normal;
    }
    .anons {
        text-align: center;
    }
    .heart {
        path {
            fill: #48105b;
        }
    }
    .hero-img {
        width: 298px;
        height: 656px;
    }
    .vh {
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hero {
        height: 656px;
        display: flex;
        flex-direction: row;
        margin-right: -10px;
        margin-left: -30px;
        .main {
            margin-top: 70px;
            margin-bottom: 80px;
            margin-left: -125px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: end;
            width: 155px;
        }
        .date {
            font-size: 24px;
            width: 105px;
        }
    }

    .place {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .places {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .place-container {
        }
        .place-title {
        }
        .place-address {
        }
        .place-img {
        }
        h4 {
            color: #48105b;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 0;
            margin-top: 0;
        }
        .place-img-img {
            margin-left: -38px;
            width: 88px;
            height: 197px;
        }
    }

    .plane {
        display: flex;
        justify-content: center;
        align-items: center;
        table {
            border-spacing: 0px 20px;
            width: 270px;
        }
        .plane-time {
            color: #48105b;
            font-size: 24px;
            padding-right: 20px;
        }
        .plane-name {
        }
    }

    .wish {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .wish-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .wish-present {
                min-width: 44px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .wish-dress {
                min-width: 39px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .wish-flower {
                min-width: 51px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .wish-text {
            text-align: justify;
        }
    }

    .confirmation {
        display: flex;
        flex-direction: column;
        .text {
            margin-bottom: 25px;
            text-align: justify;
        }
        p {
        }
        form {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .check-row,
        .radio-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            label {
                vertical-align: middle;
            }
            input[type="checkbox"] {
                accent-color: #48105b;
            }
            input[type="checkbox"]:checked {
                accent-color: #48105b;
            }
            input[type="checkbox"]:focus-visible {
                accent-color: #48105b;
                border: none;
                outline: 0;
            }
            input[type="radio"] {
                accent-color: #48105b;
            }
            input[type="radio"]:checked {
                accent-color: #48105b;
            }
            input[type="radio"]:focus-visible {
                accent-color: #48105b;
                border: none;
                outline: 0;
            }
        }
        .question {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .answers {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .question-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            input {
                height: 30px;
                border: none;
                background-color: #48105b2c;
                border-radius: 5px;
            }
            input:hover {
                border: 1px solid #48105b;
            }
            input:focus {
                border: 1px solid #48105b;
                outline: 0;
                box-shadow: none;
            }
            input:focus-visible {
                border: 1px solid #48105b;
                outline: 0;
                box-shadow: none;
            }
        }
        button {
            background-color: #48105b;
            color: white;
            text-transform: uppercase;
            width: 120px;
            height: 30px;
            border-radius: 5px;
            align-self: end;
            margin-top: 15px;
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tg-text {
            margin-bottom: 15px;
            text-align: justify;
        }
        .tg-link {
            margin-bottom: 15px;
        }
    }
    .timer {
        display: grid;
        grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
        font-size: 30px;
        justify-items: center;
        color: #48105b;

        .timer__item {
            position: relative;
        }

        .timer__item::before {
            content: attr(data-title);
            display: block;
            position: absolute;
            bottom: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 22px;
            color: #48105b;
        }
    }
    .add_guest {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .add_guest_text {
            color: #48105b;
        }
    }
}
@media screen and (width > 400px) and (width < 450px) {
    .violet {
        line-height: 20px;
        .violet-container {
            padding-right: 50px;
            padding-left: 50px;
        }
    }
}
@media screen and (width >= 450px) and (width < 500px) {
    .violet {
        line-height: 20px;
        .violet-container {
            padding-right: 70px;
            padding-left: 70px;
        }
    }
}
@media screen and (width >= 500px) and (width < 600px) {
    .violet {
        line-height: 20px;
        .violet-container {
            padding-right: 100px;
            padding-left: 100px;
        }
        .plane {
            table {
                width: 350px;
            }
            .plane-time {
                padding-left: 20px;
                padding-right: 30px;
            }
        }
    }
}
@media screen and (width >= 600px) and (width < 700px) {
    .violet {
        font-size: 16px;
        line-height: 20px;
        .violet-container {
            padding-right: 120px;
            padding-left: 120px;
        }
        .plane {
            table {
                width: 440px;
            }
            .plane-time {
                font-size: 26px;
                padding-left: 60px;
                padding-right: 30px;
            }
        }
        .wish {
            .wish-row {
                gap: 20px;
                .wish-present {
                    svg{
                        min-width: 50px;
                    }
                }
                .wish-dress {
                    svg{
                        min-width: 45px;
                    }
                }
                .wish-flower {
                    svg{
                        min-width: 60px;
                    }
                }
            }
            .wish-text {
                
            }
        }
    }
}
@media screen and (width >= 700px) and (width < 800px) {
    .violet {
        font-size: 16px;
        line-height: 20px;
        .violet-container {
            padding-right: 140px;
            padding-left: 140px;
        }
        .place {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .places {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .place-container {
            }
            .place-title {
            }
            .place-address {
            }
            .place-img {
            }
            h4 {
                color: #48105b;
                font-size: 26px;
                line-height: 35px;
                margin-bottom: 0;
                margin-top: 5px;
            }
            .place-img-img {
                margin-left: -38px;
                width: 111px;
                height: 250px;
            }
        }
        .plane {
            table {
                width: 500px;
            }
            .plane-time {
                font-size: 26px;
                padding-left: 90px;
                padding-right: 30px;
            }
        }
        .wish {
            .wish-row {
                gap: 20px;
                .wish-present {
                    svg{
                        min-width: 50px;
                    }
                }
                .wish-dress {
                    svg{
                        min-width: 45px;
                    }
                }
                .wish-flower {
                    svg{
                        min-width: 60px;
                    }
                }
            }
            .wish-text {
                
            }
        }
    }
    
}
@media screen and (width >= 800px) and (width < 900px) {
    .violet {
        font-size: 16px;
        line-height: 20px;
        .violet-container {
            padding-right: 150px;
            padding-left: 150px;
        }
        .place {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .places {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .place-container {
            }
            .place-title {
            }
            .place-address {
            }
            .place-img {
            }
            h4 {
                color: #48105b;
                font-size: 26px;
                line-height: 35px;
                margin-bottom: 0;
                margin-top: 5px;
            }
            .place-img-img {
                margin-left: -38px;
                width: 111px;
                height: 250px;
            }
        }
        .plane {
            table {
                width: 570px;
            }
            .plane-time {
                font-size: 26px;
                padding-left: 110px;
                padding-right: 30px;
            }
        }
        .wish {
            .wish-row {
                gap: 35px;
                .wish-present {
                    svg{
                        min-width: 55px;
                    }
                }
                .wish-dress {
                    svg{
                        min-width: 50px;
                    }
                }
                .wish-flower {
                    svg{
                        min-width: 65px;
                    }
                }
            }
            .wish-text {
                
            }
        }
    }
}
@media screen and (width >= 900px) and (width < 1000px) {
    .violet {
        font-size: 16px;
        line-height: 20px;
        .violet-container {
            max-width: 650px;
            
        }
        h1 {
            color: #48105b;
            font-size: 50px;
            display: block;
            line-height: 49px;
            text-align: center;
        }
        h2 {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: right;
            line-height: 21px;
        }
        h3 {
            color: #48105b;
            font-size: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            line-height: 39px;
            text-align: center;
        }
        /* .hero-img {
        width: 298px;
        height: 656px;
    }*/
        .hero-img {
            width: 340px;
            height: 750px;
        }
        .vh {
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .hero {
            height: 750px;
            display: flex;
            flex-direction: row;
            margin-right: -10px;
            margin-left: -30px;
            .main {
                margin-top: 70px;
                margin-bottom: 80px;
                margin-left: -175px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: end;
                width: 200px;
            }
            .date {
                font-size: 28px;
                width: 110px;
            }
        }
        .place {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .places {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .place-container {
            }
            .place-title {
            }
            .place-address {
            }
            .place-img {
            }
            h4 {
                color: #48105b;
                font-size: 26px;
                line-height: 35px;
                margin-bottom: 0;
                margin-top: 5px;
            }
            .place-img-img {
                margin-left: -38px;
                width: 111px;
                height: 250px;
            }
        }
        .plane {
            table {
                width: 610px;
            }
            .plane-time {
                font-size: 26px;
                padding-left: 110px;
                padding-right: 30px;
            }
        }
        .wish {
            
            .wish-row {
                gap: 35px;
                .wish-present {
                    svg{
                        min-width: 55px;
                    }
                }
                .wish-dress {
                    svg{
                        min-width: 50px;
                    }
                }
                .wish-flower {
                    svg{
                        min-width: 65px;
                    }
                }
            }
            .wish-text {
                
            }
        }
    }
}
@media screen and (width >= 1000px) {
    .violet {
        font-size: 20px;
        line-height: 24px;
        .violet-container {
            max-width: 650px;
        }
        h1 {
            color: #48105b;
            font-size: 50px;
            display: block;
            line-height: 49px;
            text-align: center;
        }
        h2 {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: normal;
            text-align: right;
            line-height: 21px;
        }
        h3 {
            color: #48105b;
            font-size: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            line-height: 39px;
            text-align: center;
        }
        .hero-img {
            width: 340px;
            height: 750px;
        }
        .vh {
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .hero {
            height: 750px;
            display: flex;
            flex-direction: row;
            margin-right: -10px;
            margin-left: -30px;
            .main {
                margin-top: 70px;
                margin-bottom: 80px;
                margin-left: -175px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: end;
                width: 200px;
            }
            .date {
                font-size: 28px;
                width: 110px;
            }
        }
        .place {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .places {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .place-container {
            }
            .place-title {
            }
            .place-address {
            }
            .place-img {
            }
            h4 {
                color: #48105b;
                font-size: 32px;
                line-height: 35px;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            .place-img-img {
                margin-left: -38px;
                width: 134px;
                height: 300px;
            }
        }
        .plane {
            table {
                width: 610px;
            }
            .plane-time {
                font-size: 32px;
                padding-left: 110px;
                padding-right: 30px;
            }
        }
        .wish {
            .wish-row {
                gap: 35px;
                .wish-present {
                    svg{
                        min-width: 55px;
                    }
                }
                .wish-dress {
                    svg{
                        min-width: 50px;
                    }
                }
                .wish-flower {
                    svg{
                        min-width: 65px;
                    }
                }
            }
            .wish-text {
                
            }
        }
        .confirmation{
            #send_form{
                font-size: 16px;
            }
        }
    }
}
